* {
  margin: 0;
  border: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
}

.main-container {
  background-color: rgb(231, 231, 231);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.contents-container {
  display: flex;
  gap: 1em;
  justify-content: center;
}